fastapi
uvicorn
python-dotenv
transformers==4.40.0
sentence-transformers==2.6.1
torch
langchain-community==0.3.26
langchain-core==0.3.66
langchain-huggingface==0.3.0
langchain-text-splitters==0.3.8
faiss-cpu
